{{ block title }}
    Instructions
{{ endblock }}

{{ block content }}
    <div class="container">
        {{ if condition == "narrative" }}
            <p>In each trial of this experiment, you will be presented with four images of an animal on the screen. One of the images will be outlined with a red box. Your task is to make a drawing of this animal.</p>
            <p>Later, another participant will see your drawing and will have to guess which behaviour among four choices (ordered in a different way) the animal was exhibiting, e.g. walking, running, lying down, or stretching. In other words, it is important that you draw in a way that assist your receiver in making the right choice. Only drawing is allowed (no letters/words).</p>
        {{ elif condition == "species_recognition"}}
            <p>In each trial of this experiment, you will be presented with four images of animals on the screen. One of the images will be outlined with a red box. Your task is to make a drawing of this animal.</p>
            <p>Later, another participant will see your drawing and will have to guess which animal among the four choices (ordered in a different way) you are communicating. In other words, it is important that you draw in a way that assist your receiver in making the right choice. Only drawing is allowed (no letters/words).</p>
        {{ elif condition == "aesthetic"}}
            <p>In each trial of this experiment, you will be presented with four images of animals on the screen. One of the images will be outlined with a red box. Your task is to make a drawing of this animal.</p>
            <p>Later, another participant will see your drawing and will have to rate it on a scale for its aesthetic qualities. In other words, it is important that you draw in a way that makes the animal pleasing to the eye of the receiver. Only drawing is allowed (no letters/words).</p>
        {{ endif }}
        <p>Take a good look at the image to memorize it, and then click the button "NEXT" to move on to the drawing canvas.</p>
    </div>
    <style>
        img {
            border: 1px solid black;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        img.selected {
            border: 5px solid red;
        }
        .img-container {
            height: 250px;
            width: 250px;
            overflow: hidden;
        }
        .img-col {
            position: relative;
        }
        .instructions-screen {
            width: 500px;
            margin: 0 auto;
        }
        
        .arrow-right:after {
            content: "";
            display: inline-block !important;
            width: 0;
            height: 0;
            border-left: 10px solid #caffb0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            vertical-align: middle;

        }

        .arrow-right:before {
            width: 20px;
            height: 10px;
            background: #caffb0;
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
        .arrow-shadow::after {
            content: "";
            display: inline-block !important;
            width: 0;
            height: 0;
            margin-left: -1px;
            border-left: 10px solid rgb(51, 51, 51);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            vertical-align: middle;

        }
        .arrow-shadow::before {
            width: 20px;
            height: 10px;
            background: rgb(51, 51, 51);
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
        .arrow-container {
            position: absolute;
            rotate: 90deg;
            top: 30px;
            left: 50px;
            z-index: 100;

        }
        .arrow-shadow-container {
            position: absolute;
            rotate: 90deg;
            top: 34px;
            left: 54px;
            z-index: 80;
            /** blur the shadow */
            filter: blur(2px);
        }
        .arrow-blurb {
            position: absolute;
            top: -40px;
            left: -10px;
            background-color: #caffb0;
            padding: 10px;
            padding-bottom: 0px;
            border: 1px solid transparent;
            border-radius: 5px;
            box-shadow: 5px 5px 5px rgb(51, 51, 51);
            width: 250px;
            color: black;
            z-index: 90;
        }
        .instructions-background {
            margin-top: 50px;
            margin-bottom: 50px;
            background-color: #333333;
            width: 100%;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    </style>
    <div class="instructions-background">
        <div class="instructions-screen">
            <div class="container">
                <div class="row row-cols-2">
                    {{ for stimulus in stimuli }}
                        <div class="col-6 img-col p-0 m-0">
                            {{ if stimulus.selected }}
                                <div class="arrow-shadow-container"><span class="arrow-shadow"></span></div>
                                <div class="arrow-container"><span class="arrow-right"></span></div>
                                <div class="arrow-blurb">
                                    <p>In this case, you will be asked to draw the {{ stimulus.animal }}.</p>
                                </div>
                            {{ endif }}
                            <div class="img-container p-0 m-0">
                                <img src="{{ static stimulus.stim }}" class="img-responsive {{ stimulus.class }}" />
                            </div>
                        </div> 
                    {{ endfor }}
                </div>  
        
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        {{ next_button }}
    </div>
    {{ include "animalfeatures/template/screenform.html" }}
{{ endblock }}
