<style>
    #canvas {
        margin-left: auto;
        margin-right: auto;
        width: 800px; /* EDIT TO CHANGE WIDTH */
        position: relative;
    }

    /* #canvas button {
        margin: 0 5px;
    } */
    #canvas .svgContainer {
        background-color: white; /* EDIT TO CHANGE BACKGROUND COLOR */
        border: 2px solid black;
        border-radius: 5px;
        margin: 0 0 20px 0;
        box-shadow: 5px 5px 5px rgb(51, 51, 51);
        position: relative;
    }

    #canvas .svgElement {
        text-align: center;
        display: block;
        width: 100%;
        height: 600px; /* EDIT TO CHANGE HEIGHT */
        white-space: pre;
    }

    #canvas .loading-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #canvas .loading-spinner .spinner-border {
        width: 300px;
        height: 300px;
        animation-duration: 5s;
        border-width: 10px;
    }
    #canvas .waiting-text {
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
    }
    /** Hide elements until we are ready */
    #canvas, #canvas .loading-spinner, .drawing-buttons, #waiting, #done, #select, #continue, #timeout-warning {
        display:none;
    }
    #done, #clearButton, #undoButton {
        white-space: nowrap;
    }
    .toast-container {
        z-index: 9999;
        display: none;
    }
</style>
<div id="waiting" class="container">
    <div class="card">
        <h4 class="card-header">
            Please wait
        </h4>
        <div class="card-body">
            <p>Waiting for server</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="stim-container" class="container"></div>
    <div class="d-flex justify-content-end mb-4">
        <button type="button" id="select" class="btn btn-primary">Select</button>
        <button type="button" id="continue" class="btn btn-primary">Continue</button>
    </div>
</div>
<div id="canvas">
    <!-- toast -->
    <div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3">
        <div id="toastComplexity" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger text-white">
                <strong class="me-auto">Whoops!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                You seem to have finished that drawing a bit too quickly. It is important that you make an effort to draw the animal thoroughly. Try to draw some more on it.
            </div>
               
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="clearDrawing" tabindex="-1" role="dialog" aria-labelledby="clearDrawingLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="clearDrawingLabel">Are you sure?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    Please confirm you would like to clear the current drawing and reset to a blank canvas.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, this was a mistake</button>
                    <button type="button" id="clearButton" class="clearButton btn btn-danger" data-bs-dismiss="modal">Yes, please clear</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->

    <div class="svgContainer">
        <svg xmlns="http://www.w3.org/2000/svg" class="svgElement" x="0px" y="0px" viewBox="0 0 800 600"></svg>
    </div>
    <div class="loading-spinner">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Waiting...</span>
        </div>
        <div class="waiting-text">Waiting for server...</div>
    </div>
    <input type="hidden" name="drawing" class="drawing" />
</div>
<div class="drawing-buttons container">
    <div class="row">
        <div class="col-3 d-flex gap-2">
            <button type="button" data-bs-toggle="modal" style="height:38px" data-bs-target="#clearDrawing" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
                Reset
            </button>
            <button type="button" id="undoButton" style="height:38px" class="undoButton btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
                </svg>
                Undo
            </button>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div id="timeout-warning" class="alert alert-warning" role="alert">
                <strong>Note:</strong> You have <span id="time-left"></span> seconds left to finish drawing.
            </div>
        </div>
        <div class="col-3 justify-content-end d-flex">
            <button type="button" id="done" style="height:38px" class="align-self-right btn btn-primary">Done</button>
        </div>
    </div>
</div>
<script src="{{ static 'drawer.js' }}"></script>
<script>
    // const numTrialsEl = document.getElementById('num-trials');
    // Containers
    const containerEl = document.getElementById('canvas');
    const svgContainer = document.getElementsByClassName('svgContainer').item(0);
    const buttonContainer = document.getElementsByClassName('drawing-buttons').item(0);
    const waitingEl = document.getElementById('waiting');

    // timeout warning
    const timeoutWarning = document.getElementById('timeout-warning');

    // Buttons
    const clearBtn = document.getElementById('clearButton');
    const undoBtn = document.getElementById('undoButton');
    const doneBtn = document.getElementById('done');

    // SVG element and hidden input
    var SVGelement = document.getElementsByClassName('svgElement').item(0);
    var drawing = document.getElementsByClassName('drawing').item(0);

    const toastComplexity = document.getElementById('toastComplexity');
    const toastContainer = document.getElementById('toastContainer');
    var toastBootstrap;

    var complexityMet = false;

    // Drawer object
    var drawer;

    function initWaiting() {
        containerEl.style.display = 'none';
        buttonContainer.style.display = 'none';
        waitingEl.style.display = 'block';
    }

    function clearEvent(e) {
        e.preventDefault();
        drawer.clearSVG();
    }

    function undoEvent(e) {
        e.preventDefault();
        drawer.undoAction();
    }

    function doneEvent(e) {
        e.preventDefault();
        if (!complexityMet) {
            toastBootstrap.show();
            return;
        }
        liveSend({
            'event': 'drawing_complete',
            'drawing': drawing.value,
            'timeout': false
        });
        // show waiting message
        initWaiting();
    }

    function drawingTimeout() {
        liveSend({
            'event': 'drawing_complete',
            'drawing': drawing.value,
            'timeout': true
        });
        // show waiting message
        initWaiting();
    }

    // Submit #form and move on
    function nextPage() {
        document.getElementById('form').submit();
    }

    function initCanvas(update = true, readOnly = false){
        // Creates a new drawer object using the SVG element
        console.log("setting up drawer");
        // show buttons
        if (!readOnly) {
            buttonContainer.style.display = 'block';
            doneBtn.style.display = 'block';
            clearBtn.style.display = 'block';
            undoBtn.style.display = 'block';
        }
        // show SVG element
        containerEl.style.display = 'block';
    
        drawer = new Drawer(SVGelement, {hiddenElement: drawing, readOnly: readOnly, strokeWidth: 8});
        if (update && !readOnly) {
            drawing.addEventListener('change', (e) => {
                liveSend({
                    'event': 'update',
                    'drawing': drawing.value
                }); 
            });
        }
        if (!readOnly) {
            // Adds event listeners and handlers for utility functions
            clearBtn.addEventListener('click', clearEvent);
            undoBtn.addEventListener('click', undoEvent);
            doneBtn.addEventListener('click', doneEvent);
        }
    }

    // set up a timeout
    var timeLeft;

    function initTimeout(time, showWarningAt = 20) {
        timeleft = time;
        const interval = setInterval(() => {
            timeLeft -= 1;
            if (timeLeft <= 0) {
                clearInterval(interval);
                drawingTimeout();
            } else {
                if (timeLeft <= showWarningAt) {
                    timeoutWarning.style.display = 'block';
                    timeoutWarning.querySelector('#time-left').innerText = Math.round(timeLeft);
                }
            }
        }, 1000);
    }

    // listen for messages from the server
    function liveRecv(data) {
        const completed = Object.keys(data).includes('completed') && data.completed === true;
        const has_drawing = Object.keys(data).includes('drawing') && data.drawing !== null && data.drawing !== "";
        const drawing_contents = has_drawing ? data.drawing : null;
        const event = Object.keys(data).includes('event') ? data.event : null;
        const time_left = Object.keys(data).includes('time_left') ? data.time_left : 0;
        const complexity_met = Object.keys(data).includes('complexity_met') ? data.complexity_met : false;
        // const num_trials = Object.keys(data).includes('num_trials') ? data.num_trials : 0;

        switch (event) {
            case 'init':
                // if we are the person drawing and we haven't said we're finished
                if (!completed) {
                    if (time_left <= 0) {
                        drawingTimeout();
                        break;
                    }
                    timeLeft = time_left;
                    initTimeout(timeLeft);
                    initCanvas();
                    if (has_drawing) Helper.importSVG(drawer, drawing_contents);

                // if we're the responder and the drawing has been completed
                } else {
                    nextPage();
                }
                break;
            case 'drawing_complete':
                // if we are the drawer, we should show the waiting message
                nextPage();
                break;
            case 'remaining_time':
                timeLeft = data.time_left;
                break;
            case 'update_complexity':
                complexityMet = complexity_met;
                break;
        }
    }



    document.addEventListener("DOMContentLoaded", (event) => {
        toastBootstrap = new bootstrap.Toast(toastComplexity);
        // add a show and hidden event listener to the toast
        toastComplexity.addEventListener('hidden.bs.toast', function () {
            // hide the toastContainer
            toastContainer.style.display = 'none';
        });
        toastComplexity.addEventListener('show.bs.toast', function () {
            // show the toastContainer
            toastContainer.style.display = 'block';
        });
        // send a message to the server to indicate that the page is ready
        liveSend({'event': 'init'});
    });
</script>
