<input type="hidden" name="uas" id="uas">
<input type="hidden" name="wx" id="wx">
<input type="hidden" name="wy" id="wy">
<input type="hidden" name="orientation" id="orientation">
<script>
    
    function updateXY() {
        forminputs.wx.value = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        forminputs.wy.value = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
    }

    function updateOrientation() {
        // safari < 16.4 does not support window.screen.orientation, instead use window.orientation
        var orientation = "N/A";
        try {
            orientation = window.screen.orientation.type;
        } catch (e) {
            try {
                orientation = window.orientation;
            } catch (e) {
                orientation = "N/A";
            }
        }
        forminputs.orientation.value = orientation;
    }

    window.addEventListener('resize', function() {
        updateXY();
    });
    window.addEventListener('orientationchange', function() {
        updateOrientation();        
    });

    window.addEventListener('DOMContentLoaded', function() {
        forminputs.uas.value = navigator.userAgent;
        updateXY();
        updateOrientation();
    });
</script>
