<input type="hidden" name="uas" id="uas">
<input type="hidden" name="wx" id="wx">
<input type="hidden" name="wy" id="wy">
<input type="hidden" name="orientation" id="orientation">
<script>
    
    function updateXY() {
        forminputs.wx.value = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        forminputs.wy.value = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
    }

    window.addEventListener('resize', function() {
        updateXY();
    });
    window.addEventListener('orientationchange', function() {
        forminputs.orientation.value = window.screen.orientation.type;
    });
    window.addEventListener('DOMContentLoaded', function() {
        forminputs.uas.value = navigator.userAgent;
        updateXY();
        forminputs.orientation.value = window.screen.orientation.type;
    });
</script>
